body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 13fr;
    min-height: 100vh;
}

aside {
    grid-column: 1 /2;
    grid-row: 1 / 3;

    background-color: #1474A9;
    color: white;

}

header {
    grid-column: 2 / 3;
    grid-row: 1/ 2;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.notifications-field{
    display: flex;
    gap: 2rem;
}

.notifications-field > button {
    min-height: 48px;
    min-width: minmax(48px, max-content);
  
}